### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
# Calculate the total number of schools
school_data_complete["school_name"].count()

39170

In [32]:
# Calculate the total number of students
total_students = school_data_complete["student_name"].count()

In [33]:
# Calculate the total budget
total_budget = school_data_complete["budget"].sum()

In [48]:
# Calculate the average math score 
average_math_score = school_data_complete["math_score"].mean()

In [49]:
# Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()

In [50]:
# Calculate the percentage of students with a passing math score (70 or greater)
school_data_complete["math_score"] = school_data_complete.loc[school_data_complete["math_score"] > 70, :]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [51]:
# Calculate the percentage of students with a passing reading score (70 or greater)
school_data_complete["reading_score"] = school_data_complete.loc[school_data_complete["reading_score"] > 70, :]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [102]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
# Create a dataframe to hold the above results
overall_passing = (school_data_complete['reading_score'].sum() / school_data_complete['math_score'].sum()) * 100
per_student_budget = total_budget/total_students

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [109]:
school_summary_df = pd.DataFrame(
    {"School Name": school_data_complete["school_name"], 
    "School Type": school_data_complete["type"],
    "Total Students": total_students,
    "Total School Budget": total_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": round(average_math_score, 2),
    "Average Reading Score": round(average_reading_score, 2),
    "% Passing Math": school_data_complete["math_score"],
    "% Passing Reading": school_data_complete["reading_score"],
    "% Overall Passing": overall_passing
    })

school_summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,39170,82932329558,2.117241e+06,78.99,81.88,NaN,66,0.576845
1,Huang High School,District,39170,82932329558,2.117241e+06,78.99,81.88,NaN,94,0.576845
2,Huang High School,District,39170,82932329558,2.117241e+06,78.99,81.88,NaN,90,0.576845
3,Huang High School,District,39170,82932329558,2.117241e+06,78.99,81.88,NaN,67,0.576845
4,Huang High School,District,39170,82932329558,2.117241e+06,78.99,81.88,NaN,97,0.576845
...,...,...,...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,39170,82932329558,2.117241e+06,78.99,81.88,39165,99,0.576845
39166,Thomas High School,Charter,39170,82932329558,2.117241e+06,78.99,81.88,NaN,95,0.576845
39167,Thomas High School,Charter,39170,82932329558,2.117241e+06,78.99,81.88,39167,73,0.576845
39168,Thomas High School,Charter,39170,82932329558,2.117241e+06,78.99,81.88,39168,99,0.576845
39169,Thomas High School,Charter,39170,82932329558,2.117241e+06,78.99,81.88,39169,95,0.576845

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [112]:
per_school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

top_schools = school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_schools.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,39170,82932329558,2.117241e+06,78.99,81.88,NaN,66,0.576845
26116,Rodriguez High School,District,39170,82932329558,2.117241e+06,78.99,81.88,NaN,69,0.576845
26109,Rodriguez High School,District,39170,82932329558,2.117241e+06,78.99,81.88,NaN,64,0.576845
26110,Rodriguez High School,District,39170,82932329558,2.117241e+06,78.99,81.88,26110,91,0.576845
26111,Rodriguez High School,District,39170,82932329558,2.117241e+06,78.99,81.88,26111,82,0.576845

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [113]:
bottom_schools = school_summary_df.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,39170,82932329558,2.117241e+06,78.99,81.88,NaN,66,0.576845
26109,Rodriguez High School,District,39170,82932329558,2.117241e+06,78.99,81.88,NaN,64,0.576845
26110,Rodriguez High School,District,39170,82932329558,2.117241e+06,78.99,81.88,26110,91,0.576845
26111,Rodriguez High School,District,39170,82932329558,2.117241e+06,78.99,81.88,26111,82,0.576845
26112,Rodriguez High School,District,39170,82932329558,2.117241e+06,78.99,81.88,26112,78,0.576845

## Reading Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [118]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]


# Group each series by school
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]


# Combine the series into a dataframe
reading_scores_by_grade = pd.DataFrame({
    "9th": round(ninth_grade_reading_scores, 2),
    "10th": round(tenth_grade_reading_scores, 2),
    "11th": round(eleventh_grade_reading_scores, 2),
    "12th": round(twelfth_grade_reading_scores, 2)})

reading_scores_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Math Score by Grade

* Perform the same operations as above for math scores

In [123]:
# Group each series by school
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]


# Combine the series into a dataframe
math_scores_by_grade = pd.DataFrame({
    "9th": round(ninth_grade_math_scores, 2),
    "10th": round(tenth_grade_math_scores, 2),
    "11th": round(eleventh_grade_math_scores, 2),
    "12th": round(twelfth_grade_math_scores, 2)})

math_scores_by_grade

KeyError: 'math_score'

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [147]:

school_budget = school_data_complete.set_index(["school_name"])["budget"]
# school_counts = school_data_complete.set_index["size"]

per_school = school_budget / school_counts
per_school

per_school.describe()

bins = [0, 585, 615, 645, 675]
pd.cut(per_school, bins)
per_school
bins = [0, 585, 615, 645, 675]
per_school.groupby(pd.cut(per_school,bins)).count()
bins = [0, 585, 630, 645, 675]
per_school.groupby(pd.cut(per_school, bins)).count()
bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]


spending_per_student = pd.cut(per_school, bins, labels=group_names)

spending_per_student.head()

spending_math_scores = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]


spending_summary_df = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
   "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# spending_summary_df

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
dtype: category
Categories (4, object): ['<$584' < '$585-629' < '$630-644' < '$645-675']

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=group_names)


size_math_scores = school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

scores_size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

scores_size_summary_df

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
type_math_scores = school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

type_scores_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_scores_summary_df